@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Outfit:wght@100..900&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-brand-cream: #FDF5D6;
  --color-brand-pink: #FDB8C1;
  --color-brand-red: #C84737;
  --color-brand-blue: #A4C3D2;
  --color-brand-yellow: #FDE08D;
  --color-brand-dark: #3D2B1F;
}

@layer base {
  body {
    @apply font-sans antialiased bg-brand-cream text-brand-dark;
  }
}
